<section class="movie-list">
<h2>{{ title }}</h2>
<div *ngIf="!subscription?.closed"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<mat-card class="movie-list-card" *ngFor="let movie of movies">
    <!-- <a routerLink="/movie-detail/{{movie.id}}" (click)="sendMovieDetail(movie.id)"> -->
        <a routerLink="/movie-detail/{{movie.id}}">
        <mat-card-header>
            <mat-card-title>
                {{ movie.title | uppercase }}
            </mat-card-title>
        </mat-card-header>
    </a>
</mat-card>
</section>